<script type="module">
	import {initEventCalendars, initRichTextEditor} from "<%= javascript_path "application.js" -%>";
	initEventCalendars();
	initRichTextEditor();
</script>
<%- path = @event.id ? console_event_path(@event) : console_events_path -%>
<%- method = @event.id ? "patch" : "post" -%>
<%= form_for @event, url: path, method: method do |f| -%>
	<div class="container">
		<div class="row">
			<%= f.label :name, class: 'col-2' -%>
			<%= f.text_field :name, value: @event.name, class: 'col-5' -%>
		</div>
		<div class="row">
			<%- @event.errors.full_messages_for(:name).each do |message| -%>
				<div class="form-error"><%= message -%></div>
			<%- end -%>
		</div>
		<div class="row">
			<%= f.label :organisation_id, "Organisation (optional)",
				class: 'col-md-2 col-sm-12' -%>
			<%= f.collection_select(:organisation_id,
					@organisations, :id, :name,
					{include_blank: true}, {class: 'col-md-5 col-sm-12'}) -%>
		</div>
		<div class="row">
			<%- @event.errors.full_messages_for(:organisation_id).each do |message| -%>
				<div class="form-error"><%= message -%></div>
			<%- end -%>
		</div>
		<div class="row">
			<%= f.label :location_id, "Location", class: 'col-2' -%>
			<%= f.collection_select(:location_id, @locations, :id, :name,
									{}, {class: 'col-md-5'}) -%>
		</div>
		<div class="row">
			<%- @event.errors.full_messages_for(:location_id).each do |message| -%>
				<div class="form-error"><%= message -%></div>
			<%- end -%>
		</div>

		<div class="row">
			<%= f.label :user_id, "Organiser", class: 'col-2' -%>
			<%= f.collection_select(:user_id, @users, :id, :user_name,
						   {}, {class: 'col-md-5'}) -%>
		</div>
		<div class="row">
			<%- @event.errors.full_messages_for(:user_id).each do |message| -%>
				<div class="form-error"><%= message -%></div>
			<%- end -%>
		</div>

		<div class="row">
			<%= f.label :start_time, class: 'col-md-2' -%>
			<div class="col-md-5">
				<%= f.text_field :start_time, id: :start_time,
					value: @event.start_time.localtime.strftime('%F %R') -%>
			</div>
		</div>
		<div class="row">
			<%- @event.errors.full_messages_for(:start_time).each do |message| -%>
				<div><%= message -%></div>
			<%- end -%>
		</div>

		<div class="row">
			<%= f.label :end_time, class: 'col-md-2' -%>
			<div class="col-md-5">
				<%= f.text_field :end_time, id: :end_time,
					value: @event.end_time.localtime.strftime('%F %R') -%>
			</div>
		</div>
		<div class="row">
			<%- @event.errors.full_messages_for(:end_time).each do |message| -%>
				<div><%= message -%></div>
			<%- end -%>
		</div>

		<div class="row">
			<%= f.label :descr, "Description", class: 'col-md-2' -%>
			<%= f.hidden_field :descr, value: @event.descr -%>
			<div class="col-md-5">
				<trix-editor input="event_descr"></trix-editor>
			</div>
		</div>
		<div class="row">
			<%- @event.errors.full_messages_for(:descr).each do |message| -%>
				<div><%= message -%></div>
		<%- end -%>
		</div>

		<div class="row">
			<%= f.submit "Submit", class: 'col-md-5 offset-md-2' -%>
		</div>
	</div>
<%- end -%>

<%
	# vim: ts=4 sts=4 sw=0 noexpandtab
%>
