<p>
	<%= link_to "New", new_console_event_path -%>
</p>

<%- if @pagy.pages > 1 -%>
	<p>
		<%== pagy_bootstrap_nav(@pagy) -%>
	</p>
<%- end -%>

<table>
	<tr>
		<th>Name</th>
		<th>Location</th>
		<th>Organiser</th>
		<th>Start time</th>
		<th>End time</th>
	</tr>

	<%- @events.each do |event| -%>
		<tr>
			<td><%= link_to event.name, console_event_path(event) -%></td>
			<td><%= link_to event.location.name, console_location_path(event.location) -%></td>
			<td><%= link_to event.user.user_name, console_user_path(event.user) -%></td>
			<td><%= event.start_time -%></td>
			<td><%= event.end_time -%></td>
		</tr>
	<%- end -%>
</table>

<%- if @pagy.pages > 1 -%>
	<p>
		<%== pagy_bootstrap_nav(@pagy) -%>
	</p>
<%- end -%>

<%
	# vim: ts=4 sts=4 sw=0 noexpandtab
%>
