<ul>
	<li><b>Organiser:</b> <%= link_to @event.user.user_name,  console_user_path(@event.user) -%></li>
	<%- if @event.organisation -%>
		<li><b>Organisation:</b> <%= link_to @event.organisation, console_organisation_path(@event.organisation) -%></li>
	<%- end -%>
	<li><b>Location:</b> <%= link_to @event.location.name, console_location_path(@event.location) -%></li>
	<li><b>Start time:</b> <%= @event.start_time.localtime.strftime("%F %R") -%></li>
	<li><b>End time:</b> <%= @event.end_time.localtime.strftime("%F %R") -%></li>
</ul>
<div id="event_descr"><b>Description:</b>
	<%== sanitize @event.descr -%>
</div>

<p>
	<%= button_to "Edit", edit_console_event_path(@event), method: :get -%>
	<%= button_to "Delete", console_event_path(@event.id), method: :delete -%>
</p>

<p>
	<%= link_to "Back", console_events_path -%>
</p>

<%
	# vim: ts=4 sts=4 sw=0 noexpandtab
%>
