<p><%= Rails.configuration.vicinitude.site_name %> is a social media site run
by people in <%= Rails.configuration.vicinitude.town_name %> for people in
<%= Rails.configuration.vicinitude.town_name %>.</p>

<p><%= Rails.configuration.vicinitude.site_name %> is powered by Vicinitude.</p>

<p><%= link_to "Terms of Service", terms_path -%>
<%
	# vim: ts=4 sts=4 sw=0 noexpandtab
%>
