<p>Vicinitude is a social media platform intended for local communities. Why argue
with someone on the other side of the world when you can chat with your
neighbours?</p>

<%
	# vim: ts=4 sts=4 sw=0 noexpandtab
%>
