<h1><%= @org.name -%></h1>
<h2>Discussions</h2>

<p>
	<%= link_to "New", new_organisation_discussion_path(@org.name) -%>
</p>

<%- if @pagy.pages > 1 -%>
	<p>
		<%== pagy_bootstrap_nav(@pagy) -%>
	</p>
<%- end -%>

<table class="discussion_table">
	<tr>
		<th>Name</th>
		<th>Posted by</th>
		<th>Time / Date</th>
	</tr>
	<%- @discssns.each do |thread| -%>
		<tr>
			<td>
				<%=link_to thread.name,
					organisation_discussion_path(@org.name, thread.id)
				-%>
			</td>
			<td>
				<%= thread.poster.real_name -%> (<%= thread.poster.user_name -%>)
			</td>
			<td>
				<%= thread.time.localtime.strftime "%F %R" -%>
			</td>
		</tr>
	<%- end -%>
</table>

<%- if @pagy.pages > 1 -%>
	<p>
		<%== pagy_bootstrap_nav(@pagy) -%>
	</p>
<%- end -%>

<p>
	<%= link_to "Back", organisation_path(@org.name) -%>
</p>

<%-
	# vim: ts=4 sts=4 sw=0 noexpandtab
-%>
