<h1><%= @org.name -%></h1>
<h2>New Discussion</h2>

<script type="module">
	import {initRichTextEditor} from "<%= javascript_path "application" -%>";
	initRichTextEditor();
</script>
<%= form_for @discssn, url: organisation_discussions_path(@org.name) do |f| -%>
	<div class="container">
		<div class="row">
			<%= f.label :name, class: 'col-md-2 col-sm-12' -%>
			<%= f.text_field :name, value: @discssn.name,
				class: 'col-md-5 col-sm-12' -%>
		</div>
		<%- @discssn.errors.full_messages_for(:name).each do |message| -%>
			<div class="row">
				<div class="col-5 offset-2"><%= message -%></div>
			</div>
		<%- end -%>

		<div class="row">
			<%= fields_for :comment do |sub| -%>
				<%= sub.label :body, class: 'col-md-2 col-sm-12' -%>
				<%= sub.hidden_field :body -%>
				<div class="col-md-5 col-sm-12">
					<trix-editor input="comment_body"></trix-editor>
				</div>
			<%- end -%>
		</div>

		<div class="row">
			<%= f.submit "Submit", class: 'col-md-5 col-sm-12 offset-md-2' -%>
		</div>
	</div>
<%- end -%>

<%
	# vim: ts=4 sts=4 sw=0 noexpandtab
%>
