<h1><%= @org.name -%></h2>
<h2><%= @discssn.name -%></h2>

<script type="module">
	import {initRichTextEditor} from "<%= javascript_path "application" -%>";
	initRichTextEditor();
</script>
<div class="container" id="comment_area">
	<%- @comments.each do |comment| -%>
		<div class="row">
			<%= render partial: 'layouts/comment', locals: {
				comment: comment,
				delete_path: organisation_discussion_comment_path(
					@org.name,
					@discssn.id,
					comment.id
			) } -%>
		</div>
	<%- end -%>

	<%= form_for @comment, url: organisation_discussion_comments_path(
				@org.name, @discssn.id) do |f| -%>
		<div class="row">
			<%= f.label :body, "New Comment", class: 'col-md-2 col-sm-12' -%>
			<%= f.hidden_field :body -%>
			<div class="col-md-5 col-sm-12">
				<trix-editor input="comment_body"></trix-editor>
			</div>
		</div>
		<div class="row">
			<%= f.submit class: 'col-md-5 col-sm-12 offset-md-2' -%>
		</div>
	<%- end -%>
</div>

<p>
	<%= button_to "Delete discussion",
		organisation_discussion_path(@org.name, @discssn),
		method: :delete -%>
</p>

<p>
	<%= link_to "Back", organisation_discussions_path(@org.name) -%>
</p>

<%-
	# vim: ts=4 sts=4 sw=0 noexpandtab
-%>
