<p>
Hello <%= @real_name -%>. It appears you have requested to reset the password
on <%= @site_name -%> for your account <%= @user_name -%>.
</p>

<p>
To do so, please follow <%= link_to "This Link",
    password_reset_url(@sgid),
    host: @host_name, method: :get
-%>.
</p>

<p>
This link will remain active for twenty-four hours.
</p>
