Hello <%= @real_name -%>. It appears you have requested to reset the password
on <%= @site_name -%> for your account <%= @user_name -%>.

To do so, please follow this link:
<%= password_reset_url(@sgid) -%>

This link will remain active for twenty-four hours.
