<script type="module">
	import {initRichTextEditor} from "<%= javascript_path "application" -%>";
	initRichTextEditor();
</script>

<%- if @org.id -%>
	<%- path = organisation_path(@org.name) -%>
	<%- method = :patch -%>
<%- else -%>
	<%- path = organisations_path -%>
	<%- method = :post -%>
<%- end -%>
<%= form_with model: @org.becomes(Organisation), url: path, method: method do |f| -%>
	<div class="container">
		<div class="row">
			<%= f.label :type, class: 'col-md-2 col-sm-12' -%>
			<%= f.select :type, [
				["Faith", :Faith],
				["Government Department", :GovtDept],
				["Charity", :Charity],
				["Company", :Company],
				["Club", :Club] ],
			{include_blank: false}, class: 'col-md-2 col-sm-12' -%>
		</div>
		<div class="row">
			<%= f.label :name, class: 'col-md-2 col-sm-12' -%>
			<%= f.text_field :name, value: @org.name,
				class: 'col-md-5 col-sm-12' -%>
		</div>
		<%- @org.errors.full_messages_for(:name).each do |message| -%>
			<div class="row">
				<div class="col-5 offset-2"><%= message -%></div>
			</div>
		<%- end -%>

		<div class="row">
			<%= f.label :location_id, "Location",
				class: 'col-md-2 col-sm-12' -%>
			<%= f.collection_select(:location_id, @locations, :id, :name,
									{}, {class: 'col-md-5 col-sm-12'}) -%>
		</div>
		<div class="row">
			<%= f.label :public, "Anyone can join?",
				class: 'col-md-2 col-sm-12' -%>
			<%= f.select :public, [
				["Yes", true],
				["No", false] ],
			{include_blank: false}, class: 'col-md-2 col-sm-12' -%>
		</div>
		<%- @org.errors.full_messages_for(:loaction_id).each do |message| -%>
			<div class="row">
				<div class="col-5 offset-2"><%= message -%></div>
			</div>
		<%- end -%>

		<div class="row">
			<%= f.label :descr, "Description", class: 'col-md-2 col-sm-12' -%>
			<%= f.hidden_field :descr -%>
			<div class="col-md-5 col-sm-12">
				<trix-editor input="organisation_descr"></trix-editor>
			</div>
		</div>
		<div class="row">
			<%- @org.errors.full_messages_for(:descr).each do |message| -%>
				<div class="col-5 offset-2"><%= message -%></div>
		<%- end -%>
		</div>

		<div class="row">
			<%= f.submit "Submit", class: 'col-md-5 col-sm-12 offset-md-2' -%>
		</div>
	</div>
<%- end -%>

<%
	# vim: ts=4 sts=4 sw=0 noexpandtab
%>
