<%= form_with url: organisation_moderators_path(@org.name) do |f| -%>
	<%= fields_for :users do |f| -%>
		<%- @members.each do |user| -%>
			<div>
				<%= f.label user.id.to_s, "#{user.real_name} (#{user.user_name})" -%>
				<%= f.check_box user.id.to_s, checked: @org.can_edit?(user) -%>
			</div>
		<%- end -%>
	<%- end -%>

	<%= f.submit -%>
<%- end -%>
<%
	# vim: ts=4 sts=4 sw=0 noexpandtab
%>

