<%= link_to "Create a new organisation", new_organisation_path -%>

<h2>Faiths</h2>
<ul>
	<%- @faiths.each do |faith| -%>
		<li><%= link_to faith.name, organisation_path(faith.name) -%></li>
	<%- end -%>
</ul>

<h2>Government deparments</h2>
<ul>
	<%- @govtdepts.each do |govtdept| -%>
		<li><%= link_to govtdept.name, organisation_path(govtdept.name) -%></li>
	<%- end -%>
</ul>

<h2>Charities</h2>
<ul>
	<%- @charities.each do |charity| -%>
		<li><%= link_to charity.name, organisation_path(charity.name) -%></li>
	<%- end -%>
</ul>

<h2>Companies</h2>
<ul>
	<%- @companies.each do |company| -%>
		<li><%= link_to company.name, organisation_path(company.name) -%></li>
	<%- end -%>
</ul>

<h2>Clubs</h2>
<ul>
	<%- @clubs.each do |club| -%>
		<li><%= link_to club.name, organisation_path(club.name) -%></li>
	<%- end -%>
</ul>

<%-
	# vim: ts=4 sts=4 sw=0 noexpandtab
-%>
