<%= form_with url: organisation_send_invitations_path(@org.name) do |f| -%>
	<div>
		<%= f.collection_select(:users, @users, :id, :real_name,
								{}, multiple: true) -%>
	</div>
	<div>
		<%= f.submit "Send invitations" -%>
	</div>
<%- end -%>
<%
	# vim: ts=4 sts=4 sw=0 noexpandtab
%>
