<ul>
	<li><b>Type:</b> <%= @org.type -%></li>
	<li><b>Location:</b> <%= link_to @org.location.name,
		location_path(@org.location.name) -%></li>
	<li><b>Registered by:</b> <%=
		"#{@org.registrant.real_name} (#{@org.registrant.user_name})" -%></li>
</p>

<div id="organisation_descr">
	<%== sanitize @org.descr -%>
</div>

<%- membership = Membership.find_by(organisation: @org, member: current_user) -%>

<div>
	<h3>Membership and Subscription</h3>
	<%- if membership == nil -%>
		<p>
			<%= button_to "Apply to Join", organisation_apply_path(@org.name),
				method: :get -%>
		</p>
	<%- elsif membership.applicant? -%>
		<p><em>Your membership is pending approval</em></p>
	<%- else -%>
		<p>
			<%= button_to "Leave", organisation_leave_path(@org.name),
				method: :get -%>
		</p>
	<%- end -%>

	<%- if @org.subscriber?(current_user) == false -%>
		<p>
			<%= button_to "Subscribe to notifications",
				organisation_subscribe_path(@org.name), method: :get -%>
		</p>
	<%- else -%>
		<p>
			<%= button_to "Unsubscribe from notifications",
				organisation_unsubscribe_path(@org.name), method: :get -%>
		</p>
	<%- end -%>
</div>

<div>
	<h3>Discussions</h3>
	<%= link_to "New", new_organisation_discussion_path(@org.name) -%>
	<table class="discussion_table">
		<tr>
			<th>Name</th>
			<th>Posted by</th>
			<th>Time / Date</th>
		</tr>
		<%- @discussions.each do |thread| -%>
			<tr>
				<td>
					<%=link_to thread.name,
						organisation_discussion_path(@org.name, thread.id)
					-%>
				</td>
				<td>
					<%= thread.poster.real_name -%> (<%= thread.poster.user_name -%>)
				</td>
				<td>
					<%= thread.time.localtime.strftime "%F %R" -%>
				</td>
			</tr>
		<%- end -%>
	</table>
	<%= link_to "More...", organisation_discussions_path(@org.name) -%>
</div>

<%- if membership != nil and membership.moderator? -%>
	<div>
		<h3>Moderation tools</h3>
		<p>
			<%= link_to "Invite users",
				organisation_invite_members_path(@org.name) -%>
		</p>
		<%- if @org.registrant == current_user -%>
			<p>
				<%= link_to "Choose moderators",
					organisation_moderators_path(@org.name) -%>
			</p>
			<p>
				<%= link_to "Transfer registration",
					organisation_transfer_path(@org.name) -%>
			</p>
		<%- end -%>
		<p>
			<%= button_to "Edit Details", edit_organisation_path(@org.name),
				method: :get -%>
		</p>
		<%- if @org.registrant == current_user -%>
			<p>
			<%= button_to "Delete Organisation",
				organisation_path(@org.name),
				method: :delete -%>
			</p>
		<%- end -%>
	</div>
<%- end -%>

<%= link_to "Back", organisations_path -%>

<%
	# vim: ts=4 sts=4 sw=0 noexpandtab
%>
