<%= form_with url: organisation_begin_transfer_path(@org.name) do |f| -%>
	<div>
		<%= f.collection_select(:user_id, @members, :id, :real_name) -%>
	</div>
	<div>
		<%= f.submit "Begin transfer" -%>
	</div>
<%- end -%>
<%
	# vim: ts=4 sts=4 sw=0 noexpandtab
%>
