<%= form_with url: password_reset_request_path, method: :post do |f| -%>
	<div class="container">
		<div class="row">
			<%= f.label :email, class: 'col-md-2 col-sm-12' -%>
			<%= f.email_field :email,
				class: 'col-md-5 col-sm-12' -%>
		</div>
	<div class="row">
		<%= f.submit "Request Reset", class: 'col-md-5 col-sm-12 offset-md-2' -%>
	</div>
<%- end -%>

<%
	# vim: ts=4 sts=4 sw=0 noexpandtab
%>
