<%= form_with url: authenticate_path, method: :post do |f| -%>
	<div class="container">
		<div class="row">
			<%= f.label :user_name, class: 'col-md-2 col-sm-12' -%>
			<%= f.text_field :user_name,
				class: 'col-md-5 col-sm-12' -%>
		</div>
	<div class="row">
		<%= f.label :password, class: 'col-md-2 col-sm-12' -%>
		<%= f.password_field :password, class: 'col-md-5 col-sm-12' -%>
	</div>
	<div class="row">
		<%= f.submit "Log In", class: 'col-md-5 col-sm-12 offset-md-2' -%>
	</div>
<%- end -%>

<hr/>

<%= button_to "Forgot your password?", forgot_password_path, method: :get -%>

<%= button_to "Don't have an account yet?", signup_path, method: :get -%>

<%
	# vim: ts=4 sts=4 sw=0 noexpandtab
%>
