<%= form_with url: password_reset_path(params[:sgid]), method: :post do |f| -%>
	<div class="container">
		<div class="row">
			<%= f.label :password, class: 'col-md-2 col-sm-12' -%>
			<%= f.password_field :password, class: 'col-md-5 col-sm-12' -%>
		</div>
		<div class="row">
			<%= f.label :confirmation, class: 'col-md-2 col-sm-12' -%>
			<%= f.password_field :confirmation, class: 'col-md-5 col-sm-12' -%>
		</div>
		<div class="row">
			<%= f.submit "Reset password",
				class: 'col-md-5 col-sm-12 offset-md-2' -%>
		</div>
	</div>
<%- end -%>

<%#
	# vim: ts=4 sts=4 sw=0 noexpandtab
-%>
