<%= form_with url: register_path, method: :post do |f| -%>
	<div class="container">
		<div class="row">
			<%= f.label :user_name, class: 'col-md-2 col-sm-12' -%>
			<%= f.text_field :user_name, class: 'col-md-5 col-sm-12' -%>
		</div>
		<div class="row">
			<%- @user.errors.full_messages_for(:user_name).each do |message| -%>
				<div class="col-5 offset-2"><%= message -%></div>
			<%- end -%>
		</div>
		<div class="row">
			<%= f.label :real_name, class: 'col-md-2 col-sm-12' -%>
			<%= f.text_field :real_name, class: 'col-md-5 col-sm-12' -%>
		</div>
		<div class="row">
			<%- @user.errors.full_messages_for(:real_name).each do |message| -%>
				<div class="col-5 offset-2"><%= message -%></div>
			<%- end -%>
		</div>
		<div class="row">
			<%= f.label :email, class: 'col-md-2 col-sm-12' -%>
			<%= f.text_field :email, class: 'col-md-5 col-sm-12' -%>
		</div>
		<div class="row">
			<%- @user.errors.full_messages_for(:email).each do |message| -%>
				<div class="col-5 offset-2"><%= message -%></div>
			<%- end -%>
		</div>
		<div class="row">
			<%= f.label :password, class: 'col-md-2 col-sm-12' -%>
			<%= f.password_field :password, class: 'col-md-5 col-sm-12' -%>
		</div>
		<div class="row">
			<%- @user.errors.full_messages_for(:password).each do |message| -%>
				<div class="col-5 offset-2"><%= message -%></div>
			<%- end -%>
		</div>
		<div class="row">
			<%= f.label :confirmation, class: 'col-md-2 col-sm-12' -%>
			<%= f.password_field :confirmation, class: 'col-md-5 col-sm-12' -%>
		</div>
		<div class="row">
			<%= f.label :home_location_id, "Home location (optional)", class: '' -%>
			<%= f.collection_select(:home_location_id, @locations, :id, :name,
					{include_blank: true}, {class: 'col-md-5 col-sm-12'}) -%>
		</div>
		<div class="row">
			<%- @user.errors.full_messages_for(:confirmation).each do |message| -%>
				<div class="col-5 offset-2"><%= message -%></div>
			<%- end -%>
		</div>
		<div class="row">
			<div class="col-md-2 col-sm-12">
				I agree to the
				<%= link_to "Terms of Service", terms_path, target: "_blank" -%>
			</div>
			<%= f.check_box :agree, checked: false,
				class: 'col-md-5 col-sm-12' -%>
		</div>
		<div class="row">
			<%= f.submit "Sign up", disabled: true,
				class: 'col-md-5 col-sm-12 offset-md-2' -%>
		</div>
	</div>
<%- end -%>

<script type="module">
	import {$} from "<%= javascript_path "application.js" -%>";

	$(document).ready(function() {
		$('input[type=checkbox]').click(function() {
			if(this.checked){
				$('input[type=submit]').prop('disabled', false);
			} else {
				$('input[type=submit]').prop('disabled', true);
			}
		});
	});
</script>

<hr/>
<%= link_to("Already have an account?", login_path) -%>

<%#
	# vim: ts=4 sts=4 sw=0 noexpandtab
-%>
