<%- path = @user.id ? console_user_path(@user) : console_users_path -%>
<%- method = @user.id ? "patch" : "post" -%>
<%= form_with url: path, method: method do |f| -%>
	<input id="priv" type="hidden" name="priv" value="<%= @user.priv -%>" />

	<div class="container">
		<div class="row">
			<%= f.label :user_id, class: 'col-3' -%>
			<%= f.text_field :user_name, value: @user.user_name, class: 'col-3' -%>
		</div>
		<div class="row">
			<%- @user.errors.full_messages_for(:user_name).each do |message| -%>
				<div><%= message -%></div>
			<%- end -%>
		</div>

		<div class="row">
			<%= f.label :real_name, class: 'col-3' -%>
			<%= f.text_field :real_name, value: @user.real_name, class: 'col-3' -%>
		</div>
		<div class="row">
			<%- @user.errors.full_messages_for(:real_name).each do |message| -%>
				<div><%= message -%></div>
			<%- end -%>
		</div>

		<div class="row">
			<%= f.label :email, class: 'col-3' -%>
			<%= f.text_field :email, value: @user.email, class: 'col-3' -%>
		</div>
		<div class="row">
			<%- @user.errors.full_messages_for(:email).each do |message| -%>
				<div><%= message -%></div>
			<%- end -%>
		</div>

		<div class="row">
			<%= f.label :home_location_id, "Home location", class: 'col-3' -%>
			<%= f.collection_select(:home_location_id, @locations, :id, :name,
					{include_blank: true, selected: @user.home_location_id},
					{class: 'col-3'}) -%>
		</div>

		<div class="row">
			<%= f.label :password, class: 'col-3' -%>
			<%= f.password_field :password, class: 'col-3' -%>
		</div>
		<div class="row">
			<%- @user.errors.full_messages_for(:password).each do |message| -%>
				<div><%= message -%></div>
			<%- end -%>
		</div>

		<div class="row">
			<%= f.label :confirmation, class: 'col-3' -%>
			<%= f.password_field :confirmation, class: 'col-3' -%>
		</div>
		<div class="row">
			<%- @user.errors.full_messages_for(:confirmation).each do |message| -%>
				<div><%= message -%></div>
			<%- end -%>
		</div>

		<div class="row">
			<%= f.label :is_ver, "Verified", class: 'col-3' -%>
			<%= f.check_box :is_ver, class: 'col-3' -%>
		</div>

		<div class="row">
			<h4>Permissions</h4>
		</div>
		<div class="row">
			<%= f.label :is_sus, "Suspended", class: 'col-3' -%>
			<%= f.check_box :is_sus, class: 'col-3' -%>
		</div>
		<div class="row">
			<%= f.label :is_mod, "Moderator", class: 'col-3' -%>
			<%= f.check_box :is_mod, class: 'col-3' -%></li>
		</div>
		<div class="row">
			<%= f.label :is_admin, "Administrator", class: 'col-3' -%>
			<%= f.check_box :is_admin, class: 'col-3' -%>
		</div>
		<div class="row">
			<%- @user.errors.full_messages_for(:priv).each do |message| -%>
				<div><%= message -%></div>
			<%- end -%>
		</div>
		<div class="row">
			<%= f.submit class: 'col-6' -%>
		</div>
	</div>
<%- end -%>

<script type="module">
	import {$} from "<%= javascript_path "application.js" -%>";

	//Set current permissions, these values are generated server-side.
	$("#is_ver").prop("checked", <%= @user.verified? -%>);
	$("#is_sus").prop("checked", <%= @user.suspended? -%>);
	$("#is_mod").prop("checked", <%= @user.moderator? -%>);
	$("#is_admin").prop("checked", <%= @user.admin? -%>);


	/* Change value of hidden input when clicked */
	$("#is_ver").click(function(){
		$("#priv").val( $("#priv").val() ^ 0x01 );
	});

	$("#is_sus").click(function(){
		$("#priv").val( $("#priv").val() ^ 0x02 );
	});

	$("#is_mod").click(function(){
		$("#priv").val( $("#priv").val() ^ 0x04 );
	});

	$("#is_admin").click(function(){
		$("#priv").val( $("#priv").val() ^ 0x08 );
	});
</script>

<%
	# vim: ts=4 sts=4 sw=0 noexpandtab
%>
