<%= link_to "New User", new_console_user_path -%>

<%- if @pagy.pages > 1 -%>
	<p>
		<%== pagy_bootstrap_nav(@pagy) -%>
	</p>
<%- end -%>

<ul><%- @users.each do |user| -%>
	<li><%= link_to user.user_name, console_user_path(user) -%></li>
<%- end -%></ul>

<% if @pagy.pages > 1 %>
	<p>
		<%== pagy_bootstrap_nav(@pagy) -%>
	</p>
<% end %>

<%
  # vim: ts=4 sts=4 sw=0 noexpandtab
%>
