<ul>
	<li><b>Real Name:</b> <%= @user.real_name -%></li>
	<li><b>Email:</b> <%= @user.email %></li>
	<li><b>Home location:</b>
		<%- if @user.home_location -%>
			<%= @user.home_location.name -%>
		<%- else -%>
			<i>None</i>
		<%- end -%>
	</li>
	<li><b>Verified:</b> <%= @user.verified? ? "true" : "false" -%></li>
	<li><b>Verification code:</b> <%= @user.verification_code -%></li>
	<li><b>Priviliges:</b><ul>
		<%- if @user.suspended? -%>
			<li><b>Suspended</b></li>
		<%- end -%>
		<%- if @user.moderator? -%>
			<li>Moderator</li>
		<%- end -%>
		<%- if @user.admin? -%>
			<li>Administrator</li>
	<%- end -%>
	</ul></li>
</ul>

<p>
	<%= button_to "Edit", edit_console_user_path(@user), method: :get -%>
	<%= button_to "Delete", console_user_path(@user), method: :delete -%>
</p>

<p>
	<%= link_to "Back", console_users_path -%>
</p>

<h3>Statistics</h3>
<ul>
	<li><b>Events:</b> <%= @user.events.count -%></li>
	<li><b>Comments:</b> <%= @user.comments.count -%></li>
</ul>

<%
	# vim: ts=4 sts=4 sw=0 noexpandtab
%>
