<%- if @user.errors %>
	<ul class="errors">
		<%- @user.errors.each do |error| %>
		<li><%= error.to_s %></li>
	<%- end %>
	</ul>
<%- end %>

<%= form_with url: profile_path, method: :patch do |f| -%>
	<div class="container">
		<div class="row">
			<%= f.label :real_name, class: 'col-md-2 col-sm-12' -%>
			<%= f.text_field :real_name, value: @user.real_name,
				class: 'col-md-5 col-sm-12'	-%>
		</div>
		<div class="row">
			<%= f.label :email, class: 'col-md-2 col-sm-12' -%>
			<%= f.email_field :email, value: @user.email,
				class: 'col-md-5 col-sm-12' -%>
		</div>
		<div class="row">
			<%= f.label :password, class: 'col-md-2 col-sm-12' -%>
			<%= f.password_field :password, class: 'col-md-5 col-sm-12' -%>
		</div>
		<div class="row">
			<%= f.label :confirmation, class: 'col-md-2 col-sm-12' -%>
			<%= f.password_field :confirmation, class: 'col-md-5 col-sm-12' -%>
		</div>
		<div class="row">
			<%= f.label :home_location_id, "Home location", class: 'col-md-2 col-sm-12' -%>
			<%= f.collection_select(:home_location_id, @locations, :id, :name,
					{include_blank: true, selected: @user.home_location_id},
					{class: 'col-md-5 col-sm-12'}) -%>
		</div>
		<div class="row">
			<%= f.submit "Save", class: 'col-md-5 col-sm-12 offset-md-2' -%>
		</div>
	</div>
<%- end -%>

<%= link_to "Back", profile_path -%>

<%#
	# vim: ts=4 sts=4 sw=0 noexpandtab
-%>
