<div id="map"></div>
<script type="module">
	import {$, useMap, initMap, makeMarker} from "<%= javascript_path "application.js" -%>";

	var src = "<%== @map_source.url -%>";
	var attr = '<%== @map_source.attribution -%>';
	var isVector = <%= @map_source.is_vector -%>;
	var lat = <%= @lat -%>;
	var lng = <%= @lng -%>;
	var zoom = <%= @high_zoom -%>;
	useMap(function(){
		initMap("map", src, attr, isVector, lat, lng, zoom);
		<%- @events.each_key do |loc| -%>
			<%- lat2 = loc.lat %>
			<%- lng2 = loc.lng %>
			<%- str = link_to loc.name, location_path(loc.name), class: :marker_head -%>
			<%- str = str + raw("<ul>") -%>
			<%- @events[loc].each do |ev| -%>
				<%- str = str + raw("<li>") + link_to(ev.name, event_path(ev)) + raw("</li>") -%>
			<%- end -%>
			<%- str = str + raw("</ul>") -%>
			<%= raw "makeMarker(#{lat2}, #{lng2}, '#{str}'" -%>);
		<%- end -%>
		//Re-center as makeMarker unfortunately moves the map arround
		window.map.setView(<%= "[#{@lat}, #{@lng}], #{@high_zoom}" -%>);
	});
</script>

<%-
	# vim: ts=4 sts=4 sw=0 noexpandtab
-%>
