<div id="info">
	<h2><%= @user.real_name -%></h2>
	<ul>
		<li><b>User Name:</b> <%= @user.user_name -%></li>
		<li><b>Email:</b> <%= @user.email -%></li>
		<li><b>Password:</b> <i>Secret</i></li>
		<%- if @user.home_location -%>
			<li><b>Home Location:</b> <%= @user.home_location.name -%></li>
		<%- else -%>
			<li><b>Home Location:</b> <em>None</em></li>
		<%- end -%>
	</ul>
	<%= link_to "Edit", profile_edit_url -%>
</div>

<h3>Verification</h3>
<div id="verify">
	<%- if @user.verified? -%>
		You are verified!
	<%- elsif @user.verification_code == nil -%>
		<%= form_with url: profile_request_verification_path, method: :post do |f| -%>
			<div class="form-group">
				<%= f.label :address, "Street address" -%>
				<%= f.text_area :address -%>
			</div>
			<%= f.submit -%>
		<%- end -%>
	<%- else -%>
		<%= form_with url: profile_confirm_verification_path, method: :post do |f| -%>
			<div class="form-group">
				<%= f.label :code, "Verification code" -%>
				<%= f.text_field :code -%>
			</div>
			<%= f.submit -%>
		<%- end -%>
	<%- end -%>
</div>

<div id="subscriptions">
	<h3>Subscriptions</h3>

	<h4>Locations</h4>
	<ul><%- @loc_subs.each do |sub| -%>
		<li><%= link_to sub.subscribable.name, location_path(sub.subscribable.name) -%></li>
	<%- end -%></ul>

	<h4>Organisations</h4>
	<ul><%- @org_subs.each do |sub| -%>
		<li><%= link_to sub.subscribable.name, organisation_path(sub.subscribable.name) -%></li>
	<%- end -%></ul>
</div>

<div id="terminate">
	<h2>Terminate</h2>
	<p>If you really want to you can delete your account here.</p>
	<%= form_with url: profile_path, method: :delete, onsubmit: "return confirm('Are you sure?');" do |f| -%>
		<div class="form-group">
			<label for="confirm_1">I want to delete my profile, the comments
				that I have left on all event pages and the event pages I have
				created.</label>
			<input type="checkbox" id="confirm_1" name="confirm_1" value=false />
			<script type="module">
				import {$, toggleSubmit} from "<%= javascript_path "application.js" -%>";

				$("#confirm_1").change( function(){
					toggleSubmit("#delete_btn");
				});
			</script>
		</div>
		<%= f.submit "Delete my account", disabled: true, id: :delete_btn -%>
	<%- end -%>
</div>

<%-
	# vim: ts=4 sts=4 sw=0 noexpandtab
-%>
