<script type="module">
	import {initEventCalendars, initRichTextEditor} from "<%= javascript_path "application" -%>";
	initEventCalendars();
	initRichTextEditor();
</script>

<%= form_for @event do |f| -%>
	<div class="container">
		<div class="row">
			<%= f.label :name, class: 'col-md-2 col-sm-12' -%>
			<%= f.text_field :name, value: @event.name,
				class: 'col-md-5 col-sm-12' -%>
		</div>
		<%- @event.errors.full_messages_for(:name).each do |message| -%>
			<div class="row">
				<div class="col-5 offset-2"><%= message -%></div>
			</div>
		<%- end -%>

		<div class="row">
			<%= f.label :organisation_id, "Organisation (optional)",
				class: 'col-md-2 col-sm-12' -%>
			<%= f.collection_select(:organisation_id,
					current_user.organisations, :id, :name,
					{include_blank: true}, {class: 'col-md-5 col-sm-12'}) -%>
		</div>
		<%- @event.errors.full_messages_for(:organisation_id).each do |message| -%>
			<div class="row">
				<div class="col-5 offset-2"><%= message -%></div>
			</div>
		<%- end -%>

		<div class="row">
			<%= f.label :location_id, "Location",
				class: 'col-md-2 col-sm-12' -%>
			<%= f.collection_select(:location_id, @locations, :id, :name,
					{}, {class: 'col-md-5 col-sm-12'}) -%>
		</div>
		<%- @event.errors.full_messages_for(:loaction_id).each do |message| -%>
			<div class="row">
				<div class="col-5 offset-2"><%= message -%></div>
			</div>
		<%- end -%>

		<div class="row">
			<%= f.label :start_time, class: 'col-md-2 col-sm-12' -%>
			<%= f.text_field :start_time, id: :start_time,
				value: @event.start_time.localtime.strftime('%F %R'),
				class: 'col-md-5 col-sm-12' -%>
		</div>
		<%- @event.errors.full_messages_for(:start_time).each do |message| -%>
			<div class="row">
				<div class="col-5 offset-2"><%= message -%></div>
			</div>
		<%- end -%>

		<div class="row">
			<%= f.label :end_time, class: 'col-md-2 col-sm-12' -%>
			<%= f.text_field :end_time, id: :end_time,
				value: @event.end_time.localtime.strftime('%F %R'),
				class: 'col-md-5 col-sm-12' -%>
		</div>
		<div class="row">
			<%- @event.errors.full_messages_for(:end_time).each do |message| -%>
				<div class="col-5 offset-2"><%= message -%></div>
			<%- end -%>
		</div>

		<div class="row">
			<%= f.label :descr, "Description", class: 'col-md-2 col-sm-12' -%>
			<%= f.hidden_field :descr, value: @event.descr -%>
			<div class="col-md-5 col-sm-12">
				<trix-editor input="event_descr"></trix-editor>
			</div>
		</div>
		<div class="row">
			<%- @event.errors.full_messages_for(:descr).each do |message| -%>
				<div class="col-5 offset-2"><%= message -%></div>
		<%- end -%>
		</div>

		<div class="row">
			<%= f.submit "Submit", class: 'col-md-5 col-sm-12 offset-md-2' -%>
		</div>
	</div>
<%- end -%>

<%
	# vim: ts=4 sts=4 sw=0 noexpandtab
%>
