<%= link_to "Create a new event", new_event_path -%>

<h2>Happening now</h2>
<ul><%- @current.each do |event| -%>
	<li><%= link_to event.name, event_path(event) -%></li>
<%- end -%></ul>


<h2>Upcomming</h2>
<ul><%- @upcoming.each do |event| -%>
	<li><%= link_to event.name, event_path(event) -%></li>
<%- end -%></ul>


<h2>Past</h2>
<ul><%- @previous.each do |event| -%>
	<li><%= link_to event.name, event_path(event) -%></li>
<%- end -%></ul>

<%- if @pagy.pages > 1 -%>
	<p>
		<%== pagy_bootstrap_nav(@pagy) -%>
	</p>
<%- end -%>

<%-
	# vim: ts=4 sts=4 sw=0 noexpandtab
-%>
