<p>
	<b>Organiser:</b> <%= @event.user.real_name -%> (<%= @event.user.user_name -%>)<br />
	<%- if @event.organisation -%>
		<b>Organisation:</b> <%= link_to @event.organisation.name,
			organisation_path(@event.organisation.name) -%><br />
	<%- end -%>
	<b>Location:</b> <%= link_to @event.location.name, location_path(@event.location.name) -%><br />
	<b>Starts:</b> <%= @event.start_time.localtime.strftime("%F %R") -%><br />
	<b>Ends:</b> <%= @event.end_time.localtime.strftime("%F %R") -%><br />
</p>

<div id="event_descr">
	<%== sanitize @event.descr -%>
</div>

<p>
	<% if @event.can_edit?(current_user) -%>
		<%= button_to "Edit", edit_event_path(@event), method: :get -%>
		<%= button_to "Delete", @event, method: :delete -%>
	<% end -%>
</p>

<p>
	<%= link_to "Back", events_path -%>
</p>

<div class="container" id="comment_area">
	<h3>Comments</h2>
	<%- @event.comments.each do |comment| -%>
		<div class="row">
			<%= render partial: "layouts/comment", locals: {
				comment: comment,
				delete_path: event_comment_path(@event.id, comment.id)
			} -%>
		</div>
	<%- end -%>

	<script type="module">
		import {initRichTextEditor} from "<%= javascript_path "application" -%>";
		initRichTextEditor();
	</script>
	<%= form_for @comment, url: event_comments_path(@event) do |f| -%>
		<div class="row" id="new_comment_area">
			<%= f.label :body, "New comment", class: 'col-md-2 col-sm-12' -%>
			<%= f.hidden_field :body -%>
			<div class="col-md-5 col-sm-12">
				<trix-editor input="comment_body"></trix-editor>
			</div>
			<%= f.submit "Submit",
				class: 'col-md-5 col-sm-12 offset-md-2 offset-sm-0' -%>
		</div>
	<%- end -%>
</div>

<%-
	# vim: ts=4 sts=4 sw=0 noexpandtab
-%>
