<%= link_to "New Organisation", new_console_organisation_path -%>

<%- if @pagy.pages > 1 -%>
	<p>
		<%== pagy_bootstrap_nav(@pagy) -%>
	</p>
<%- end -%>

<table>
	<tr>
		<th>Name</th>
		<th>Type</th>
		<th>Location</th>
	</tr>
	<%- @orgs.each do |org| -%><tr>
		<td><%= link_to org.name, console_organisation_path(org) -%></td>
		<td><%= org.type -%></td>
		<td><%= link_to org.location.name, console_location_path(org) -%></td>
	</tr><%- end -%>
</table>

<%- if @pagy.pages > 1 -%>
	<p>
		<%== pagy_bootstrap_nav(@pagy) -%>
	</p>
<%- end -%>

<%
  # vim: ts=4 sts=4 sw=0 noexpandtab
%>
