<p>
	<b>Type:</b> <%= @org.type -%><br />
	<b>Located:</b> <%= link_to @location.name, location_path(@location.name) -%> <br />
	<b>Registered by:</b> <%= "#{@registrant.real_name} (#{@registrant.user_name})" -%>
</p>

<div id="organisation_descr">
	<%== sanitize @org.descr -%>
</div>

<p>
	<% if @org.can_edit?(current_user) -%>
		<%= button_to "Edit", edit_console_organisation_path(@org), method: :get -%>
		<%= button_to "Delete", console_organisation_path(@org), method: :delete -%>
	<%- end -%>
</p>

<p>
	<%= link_to "Back", organisations_path -%>
</p>

<%
	# vim: ts=4 sts=4 sw=0 noexpandtab
%>
