<%= form_with url: console_announcement_path, method: 'post' do |f| -%>
	<div class="container">
		<div class="row">
			<%= f.label :subject, class: 'col-2' -%>
			<%= f.text_field :subject, class: 'col-5' -%>
		</div>
		<div class="row">
			<%= f.label :body, class: 'col-2' -%>
			<%= f.text_area :body, rows: 20, class: 'col-5' -%>
		</div>
		<div class="row">
			<%= f.submit "Send", class: 'col-5 offset-2' -%>
		</div>
	</div>
<%- end -%>

<%
	# vim: ts=4 sts=4 sw=0 noexpandtab
%>
