<h3>Text</h3>
<%= form_with url: console_config_branding_path, method: "post" do |f| -%>
	<div class="container">
		<div class="row">
			<%= f.label :site_name, class: 'col-2' -%>
			<%= f.text_field :site_name,
				value: Rails.configuration.vicinitude[:site_name],
				class: 'col-5' -%>
		</div>
		<div class="row">
			<%= f.label :town_name, class: 'col-2' -%>
			<%= f.text_field :town_name,
				value: Rails.configuration.vicinitude[:town_name],
				class: 'col-5' -%>
		</div>
		<div class="row">
			<%= f.label :admin_email, class: 'col-2' -%>
			<%= f.email_field :admin_email,
				value: Rails.configuration.vicinitude[:admin_email],
				class: 'col-5' -%>
		</div>
		<div class="row">
			<%= f.label :domain_name, class: 'col-2' -%>
			<%= f.text_field :domain_name,
				value: Rails.configuration.vicinitude[:domain_name],
				class: 'col-5' -%>
		</div>
		<div class="row">
			<%= f.label :notice, class: 'col-2' -%>
			<%= f.text_area :notice, rows: 5,
				value: Rails.configuration.vicinitude[:notice],
				class: 'col-5' -%>
		</div>
		<div class="row">
			<%= f.label :footer_message, class: 'col-2' -%>
			<%= f.text_area :footer_message, rows: 10,
				value: Rails.configuration.vicinitude[:footer_message],
				class: 'col-5' -%>
		</div>
		<div class="row">
			<%= f.submit "Save", class: 'col-5 offset-2' -%>
		</div>
	</div>
<%- end -%>

<h3>Logo</h3>
<%= form_with url: console_config_logo_path, method: "post" do |f| -%>
	<div class="container">
		<div class="row">
			<%= f.label :logo_32px, "Small (32x32 pixels)", class: 'col-2' -%>
			<%= f.file_field :logo_32px, class: 'col-5' -%>
		</div>
		<div class="row">
			<%= f.label :logo_64px, "Medium (64x64 pixels)", class: 'col-2' -%>
			<%= f.file_field :logo_64px, class: 'col-5' -%>
		</div>
		<div class="row">
			<%= f.label :logo_200px, "Large (200x200 pixels)", class: 'col-2' -%>
			<%= f.file_field :logo_200px, class: 'col-5' -%>
		</div>
		<div class="row">
			<%= f.submit "Save", class: 'col-5 offset-2' -%>
		</div>
	</div>
<%- end -%>

<p>
	<%= link_to "Back", console_config_path -%>
</p>

<%
	# vim: ts=4 sts=4 sw=0 noexpandtab
%>
