<ul>
	<li><%= link_to "Terms of Service", console_config_terms_path -%></li>
	<li><%= link_to "Branding", console_config_branding_path -%></li>
	<li><%= link_to "Map", console_config_map_path -%></li>
</ul>

<h3>Import Config</h3>
<%= form_with url: console_config_import_path do |f| -%>
	<div class="form-group">
		<label for="confirm_1">There is no data at-risk</label>
		<input type="checkbox" id="confirm_1" name="confirm_1" value=false />
		<script type="module">
			import {$, toggleSubmit} from "<%= javascript_path "application.js" -%>";

			$("#confirm_1").change( function(){
				toggleSubmit("#import_config_btn");
			});
		</script>
	</div>
	<%= f.label :file -%>
	<%= f.file_field :file -%>
	<%= f.submit disabled: true, id: :import_config_btn -%>
<%- end -%>


<h3>Export Config</h3>
<p>
	<%= button_to "Download as YAML", console_config_export_path, method: :get -%>
</p>

<%
	# vim: ts=4 sts=4 sw=0 noexpandtab
%>
