<table>
	<thead>
		<tr>
			<th>Users</th>
			<th>Locations</th>
			<th>Events</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @userCount %></td>
			<td><%= @locationCount %></td>
			<td><%= @eventCount %></td>
		</tr>
	</tbody>
</table>

<%
	# vim: ts=4 sts=4 sw=0 noexpandtab
%>
