<div>
	<%= link_to "24 Hours", console_logs_path(hours: 24) -%>
	<%= link_to "2 Days", console_logs_path(hours: 48) -%>
	<%= link_to "1 Week", console_logs_path(hours: 168) -%>
	<%= link_to "2 Weeks", console_logs_path(hours: 336) -%>
	<%= link_to "1 Month", console_logs_path(hours: 720) -%>
</div>

<table>
	<%- @action_logs.each do |action_log| -%>
		<b><%= action_log.created_at -%>:</b>
		<%= render partial: 'console/action_log',
			locals: {action: action_log.json} -%>
		<hr />
	<%- end -%>
</table>

<%-
	# vim: ts=4 sts=4 sw=0 noexpandtab
-%>
