<%= form_with url: console_config_map_path, method: "post" do |f| -%>
	<div class="container">
		<div class="row">
			<%= f.label :source_id, "Map Source:", class: 'col-2' -%>
			<%= f.collection_select :source_id, @map_sources, :id, :name,
				{selected: @current_source},
				class: 'col-5' -%>
		</div>
		<div class="row">
			<%= f.label :source_url, "Source URL", class: 'col-2' -%>
			<%= f.text_field :source_url, value: raw(@map_sources[0].url),
				class: 'col-5' -%>
		</div>
		<div class="row">
			<%= f.label :source_is_vector, "Vector Source", class: 'col-2' -%>
			<%= f.check_box :source_is_vector, id: :source_is_vector,
				checked: @map_sources[0].is_vector,
				class: 'col-5' -%>
		</div>
		<div class="row">
			<%= f.label :source_attribution, "Attribution", class: 'col-2' -%>
			<%= f.text_field :source_attribution, value: @map_sources[0].attribution,
				class: 'col-5' -%>
		</div>
		<div class="row">
			<%= f.label :lat, "Centre Lattitude", class: 'col-2' -%>
			<%= f.number_field :lat, step: 0.00001,
				value: Rails.configuration.vicinitude[:map_centre][:lat],
				class: 'col-5' -%>
		</div>
		<div class="row">
			<%= f.label :lng, "Centre Longitude", class: 'col-2' -%>
			<%= f.number_field :lng, step: 0.00001,
				value: Rails.configuration.vicinitude[:map_centre][:lng],
				class: 'col-5' -%>
		</div>
		<div class="row">
			<%= f.label :high_zoom, "High Zoom", class: 'col-2' -%>
			<%= f.number_field :high_zoom,
				value: Rails.configuration.vicinitude[:map_centre][:high_zoom],
				class: 'col-5' -%>
		</div>
		<div class="row">
			<%= f.label :low_zoom, "Low Zoom", class: 'col-2' -%>
			<%= f.number_field :low_zoom,
				value: Rails.configuration.vicinitude[:map_centre][:low_zoom],
				class: 'col-5' -%>
		</div>
		<div class="row">
			<%= f.submit "Save", class: 'col-5 offset-2' -%>
		</div>
	</div>
<%- end -%>

<script type="module">
	import {$} from "<%= javascript_path "application" -%>";

	function toggleCustom()
	{
		var isCustom = $("#source_id").val() != 1;
		$("#source_url").prop("disabled", isCustom);
		$("#source_is_vector").prop("disabled", isCustom);
		$("#source_attribution").prop("disabled", isCustom);
	}

	$("#source_id").change(toggleCustom);
	toggleCustom(); //Force it to run once, just in case
</script>

<p>
	<%= link_to "Back", console_config_path -%>
</p>

<%
	# vim: ts=4 sts=4 sw=0 noexpandtab
%>
