<%= form_with url: console_config_terms_path, method: "post" do |f| -%>
	<div class="container">
		<div class="row">
			<%= f.label :terms, "Terms of service", class: 'col-2' -%>
			<%= f.text_area :terms, rows: 25,
				value: Rails.configuration.vicinitude[:terms],
				class: 'col-5' -%>
		</div>
		<div class="row">
			<%= f.submit "Save", class: 'col-5 offset-2' -%>
		</div>
	</div>
<%- end -%>

<p>
	<%= link_to "Back", console_config_path -%>
</p>

<%
	# vim: ts=4 sts=4 sw=0 noexpandtab
%>
