User <%= @user_name -%> (<%= @real_name -%>) requested that a location,
<%= @location_name -%>, be added to
<%= Rails.configuration.vicinitude.site_name -%>.
<br /><br />
<%- if @body -%>Further details are below:<br />
  <pre><%= @body -%></pre>
<%- end -%>
