<ul><%- locations.order(:name).each do |loc| -%>
	<li><%= link_to loc.name, console_location_path(loc) -%></li>
	<%- if loc.has_children? -%>
		<%= render partial: 'location_tree', locals:
			{locations: loc.children.order(:name)} -%>
	<%- end -%>
<%- end -%></ul>

<%
	# vim: ts=4 sts=4 sw=0 noexpandtab
%>
