<script type="module">
	import {initRichTextEditor} from "<%= javascript_path "application" -%>";
	initRichTextEditor();
</script>

<%- path = @location.id ? console_location_path(@location) : console_locations_path -%>
<%- method = @location.id ? "patch" : "post" -%>
<%= form_with url: path, method: method do |f| -%>
	<div class="container">
		<div class="row">
			<%= f.label :name, class: 'col-2' -%>
			<%= f.text_field :name, value: @location.name, class: 'col-5' -%>
		</div>
		<div class="row">
			<%- @location.errors.full_messages_for(:name).each do |message| -%>
				<div><%= message -%></div>
			<%- end -%>
		</div>

		<div class="row">
			<%= f.label :descr, "Description", class: 'col-2' -%>
			<%= f.hidden_field :descr, value: @location.descr -%>
			<div class="col-5">
				<trix-editor input="locaton_descr"></trix-editor>
			</div>
		</div>

		<div class="row">
			<%= f.label :parent_id, "Located in", class: 'col-2' -%>
			<%= f.collection_select :parent_id, @locations, :id, :name,
				{include_blank: "---"}, class: 'col-5' -%>
		</div>
		<div class="row">
			<%- @location.errors.full_messages_for(:parent_id).each do |message| -%>
				<div><%= message -%></div>
			<%- end -%>
		</div>

		<div class="row">
			<%= f.label :address, class: 'col-2' -%>
			<%= f.text_area :address, value: @location.address, rows: 5,
				class: 'col-5' -%>
		</div>
		<div class="row">
			<%- @location.errors.full_messages_for(:address).each do |message| -%>
				<div><%= message -%></div>
			<%- end -%>
		</div>

		<div class="row">
			<%= f.label :lat, "Lattitude", class: 'col-2' -%>
			<%= f.number_field :lat, step: 0.00001, value: @location.lat,
				class: 'col-5' -%>
		</div>
		<div class="row">
			<%- @location.errors.full_messages_for(:lat).each do |message| -%>
				<div><%= message -%></div>
			<%- end -%>
		</div>

		<div class="row">
			<%= f.label :lng, "Longitude", class: 'col-2' -%>
			<%= f.number_field :lng, step: 0.00001, value: @location.lng,
				class: 'col-5' -%>
		</div>
		<div class="row">
			<%- @location.errors.full_messages_for(:lng).each do |message| -%>
				<div><%= message -%></div>
			<%- end -%>
		</div>

		<div class="row">
			<%= f.submit "Save", class: 'col-5 offset-2' -%>
		</div>
	</div>
<%- end -%>

<%
	# vim: ts=4 sts=4 sw=0 noexpandtab
%>
