<p>
	<%= link_to "New", new_console_location_path -%>
</p>

<p>
	<%= render partial: 'location_tree', locals: {locations: @locations} -%>
</p>

<h3>Export Locations</h3>
<%= form_with url: to_csv_console_locations_path, method: :get do |f| -%>
	<div class="container">
		<div class="row">
			<%= f.label :submit, "CSV File", class: 'col-2' -%>
			<%= f.submit "Download", class: 'col-5' -%>
		</div>
	</div>
<%- end -%>

<h3>Import Locations</h3>
<p><strong>WARNING:</strong> This feature exist for setting up new
	installations. It will delete all existing events and event comments.</p>
<%= form_with url: from_csv_console_locations_path do |f| -%>
	<div class="container">
		<div class="row">
			<%= f.label :confirm_1, "There is no data at-risk",
				class: 'col-2' -%>
			<%= f.check_box :confirm_1, value: false,
				class: 'col-5' -%>
		</div>
		<script type="module">
			import {$, toggleSubmit} from "<%= javascript_path "application.js" -%>";

			$("#confirm_1").change( function(){
				toggleSubmit("#from_csv_btn");
			});
		</script>
		<div class="row">
			<%= f.label :file, class: 'col-2' -%>
			<%= f.file_field :file, class: 'col-5' -%>
		</div>
		<div class="row">
			<%= f.submit disabled: true, id: :from_csv_btn,
				class: 'col-5 offset-2' -%>
		</div>
	</div>
<%- end -%>

<%
	# vim: ts=4 sts=4 sw=0 noexpandtab
%>
