<p>
	<b>Address:</b>
	<pre class="text-display"><%= @location.address -%></pre>
</p>
<p>
	<b>Located in:</b>
	<%- if @location.has_parent? -%>
		<%= link_to @location.parent.name, console_location_path(@location.parent) -%>
	<%- end -%>
</p>
<p>
	<b>Lattitude & Longitude:</b>
	<%= @location.lat -%>, <%= @location.lng -%>
</p>

<p>
	<b>Description:</b>
	<div class="text-display">
		<%== sanitize @location.descr -%>
	</div>
</p>

<p>
	<%= button_to "Edit", edit_console_location_path(@location), method: :get -%>
	<%= button_to "Delete", console_location_path(@location), method: :delete -%>
</p>

<p>
	<%= link_to "Back", console_locations_path -%>
</p>


<%
	# vim: ts=4 sts=4 sw=0 noexpandtab
%>
