<%= @event.user.real_name -%> (<%= @event.user.user_name -%>) has posted an upcoming event <%= @event.name -%>.

<%- if @event.organisation -%>
Organisation: <%= @event.organisation.name -%>
<%- end -%>

Location: <%= @location -%>

Begins: <%= @start_time -%>

Ends: <%= @end_time -%>

Description:

<%= @plain_descr -%>
