<p>
  <%= @event.user.real_name -%> (<%= @event.user.user_name -%>) has edited the event <%= link_to @event.name, @event -%>.
</p>

<p>
  The new version reads:
</p>

<ul>
  <%- if @event.organisation -%>
    <li><strong>Organisation:</strong>
      <%= link_to @event.organisation.name, organisation_url(@event.organisation.name) -%></li>
  <%- end -%>
  <li><strong>Location:</strong> <%= link_to @location.name, @location -%></li>
  <li><strong>Begins:</strong> <%= @start_time -%></li>
  <li><strong>Ends:</strong> <%= @end_time -%></li>
  <li><strong>Description:</strong>
    <p>
      <%== sanitize @event.descr -%>
    </p>
  </li>
</ul>
