<%= @event.user.real_name -%> (<%= @event.user.user_name -%>) has edited the event <%= @event.name -%>.

The new version reads:

<%- if @event.organisation -%><%# XXX Strange line-spacing is a work-around -%>
Organisation: <%= @event.organisation.name -%>
<%- end -%>

Location: <%= @location.name -%>

Begins: <%= @start_time -%>

Ends: <%= @end_time -%>

Description:

<%= @plain_descr -%>
