@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';
@import 'leaflet/dist/leaflet';
@import 'maplibre-gl/dist/maplibre-gl';
@import 'flatpickr/dist/flatpickr';
@import 'trix/dist/trix';

a {
	color: blue;
}

a.active {
	font-weight: bold;
}

.btn.btn-primary {
	color: white;
}

.btn.btn-secondary {
	color: white;
}

div.alert {
	border: 1px solid #000000;
	max-width: 30em;
}

div.alert-close {
	float: right;
	text-align: right;
	width: 1ex;
	height: 1ex;
	text-align: center;
	font-family: sans-serif;
}

div.alert-content {
	overflow: hidden;
	text-align: left;
}


noscript {
	color: #FF0000;
	font-weight: bold;
}

