body {
	font-family: sans-serif;
	font-size: 11pt;
	color: #000000;
	background-color: #CCCCCC;
}

div#navbar {
	display: block;
	clear: both;
	height: 1em;
	div#navbar-left {
		float: left;
	}
	div#navbar-right {
		float: right;
		margin-right: 0.5em;
	}
}

table#stat_overview {
	border-collapse: collapse;
	margin-bottom: 2em;
}
table#stat_overview thead tr th {
	border: 1px solid black;
	border-bottom: 3px solid black;
}
table#stat_overview tbody tr td {
	border: 1px solid black;
}
div#event_descr pre {
	font-family: sans-serif;
	font-size: 11pt;
	color: #000000;
	background-color: #CCCCCC;
}
th {
	text-align: left;
}

label {
	font-weight: bold;
}

input, textarea, select {
	background-color: #E0E0E0;
}

a:link, a:visited {
	color: #0000EE;
	text-decoration: underline;
}

a:hover, a:active {
	color: #FFFFFF;
	background-color: #5555EE;
	text-decoration: underline;
}

.text-display {
	color: black;
	background-color: grey;
	min-height: 1em;
	max-width: 80ex;
}

.placeholder {
	font-size: 8pt;
	font-family: monospace;
}
