div#map {
	z-index: 0;
	min-height: 500px;
	max-height: 1000px;
	width: 100%;
}

label {
	font-weight: bold;
}

a:link, a:visited {
	color: #0000EE;
	text-decoration: none;
}

a:hover, a:active {
	color: #0000EE;
	text-decoration: underline;
}

.placeholder {
	font-family: monospace;
}

div#event_descr pre {
	color: #000000;
	background: #FFFFFF;
}

div.comment {
	border-style: solid;
	padding-bottom: 1ex;
	margin-bottom: 2em;
}
div.comment div.comment_header {
	border-bottom-style: groove;
}

a.marker_head {
	text-decoration: underline;
	font-weight: bold;
	text-align: center;
}

table.discussion_table tr td {
	padding-right: 1ex;
}
