<p>
  You have been invited to join <%= @org.name -%> on <%= @site_name -%>.
  <ul>
    <li><strong>Organisation Type:</strong> <%= @org.type -%></li>
    <li><strong>Location:</strong> <%= @org.location.name -%></li>
    <li><strong>Description:</strong>
      <pre><%= @org.descr -%></pre>
    </li>
</p>

<p>
  <%= link_to(
    "Accept", membership_accept_invitation_url(@org_sgid, @user_sgid),
    host: @host_name, method: :get
  ) -%>

  <%= link_to(
    "Reject", membership_reject_invitation_url(@org_sgid, @user_sgid),
    host: @host_name, method: :get
  ) -%>
</p>
