You have been invited to join <%= @org.name -%> on <%= @site_name -%>.


Organisation Type: <%= @org.type -%>

Location: <%= @org.location.name -%>

Description:


<%= @org.descr -%>


Click here to accept: <%= membership_accept_invitation_url(@org_sgid, @user_sgid) -%>


Or click here to reject: <%= membership_reject_invitation_url(@org_sgid, @user_sgid) -%>
