A user on <%= @site_name -%> named <%= @user.real_name -%>
(AKA <%= @user.user_name -%>) has applied to join your <%= @org.type -%>
<%= @org.name -%>.

Click here to accept: <%= membership_accept_application_url(@sgid) -%>

Or click here to reject: <%= membership_reject_application_url(@sgid) -%>
