<p>
  A user on <%= @site_name -%> named <%= @user.real_name -%>
  (AKA <%= @user.user_name -%>) has applied to join your <%= @org.type -%>
  <%= @org.name -%>.
</p>

<p>
  <%= link_to(
    "Accept", membership_accept_application_url(@sgid),
    host: @host_name, method: :get
  ) -%>

  <%= link_to(
    "Reject", membership_reject_application_url(@sgid),
    host: @host_name, method: :get,
  ) -%>
</p>
