You have been offered to take over the registration of <%= @org.name -%>.

Organisation type: <%= @org.type -%>

Location: <%= @org.location.name -%>

Description:

<%= @org.descr -%>


Accept: <%= organisation_accept_transfer_url(@org_sgid, @user_sgid) -%>

Reject: <%= organisation_reject_transfer_url(@org_sgid, @user_sgid) -%>
