<p>
  You have been offered to take over the registration of <%= @org.name -%>.
</p>

<p>
  <strong>Organisation type:</strong> <%= @org.type -%><br />
  <strong>Location:</strong> <%- @org.location.name -%><br />
  <strong>Description:</strong><br />
  <pre><%- @org.descr -%></pre>
</p>

<p>
  <%= link_to(
    "Accept", organisation_accept_transfer_url(@org_sgid, @user_sgid),
    host: @host_name, method: :get
  ) -%>

  <%= link_to(
    "Reject", organisation_reject_transfer_url(@org_sgid, @user_sgid),
    host: @host_name, method: :get
  ) -%>
</p>
