<%= link_to action.user_name, "/console/users/#{action.user_id}" -%>
<%- case action.model -%>
<%- when "user" -%>
	<%- case action.action -%>
	<%- when "create" -%>
		signed up to <%= Rails.configuration.vicinitude[:site_name] -%>
	<%- when "delete" -%>
		quit <%= Rails.configuration.vicinitude[:site_name] -%>
	<%- end -%>
<%- when "event" -%>
	<%- case action.action -%>
	<%- when "create" -%>
		posted event #<%= link_to action.entry_id, "/console/events/#{action.entry_id}" -%>
		(<%= action.entry_name -%>)
	<%- when "update" -%>
		edited event #<%= link_to action.entry_id, "/console/events/#{action.entry_id}" -%>
		(<%= action.entry_name -%>)
	<%- when "delete" -%>
		deleted event #<%= action.entry_id -%>
	<%- end -%>
<%- when "organisation" -%>
	<%- case action.action -%>
	<%- when "create" -%>
		created a <%= action.entry_type -%>
		<%= link_to action.entry_name, "/console/organisations/#{action.entry_id}" -%>
	<%- when "update" -%>
		edited the <%= action.entry_type -%>
		<%= link_to action.entry_name, "/console/organisations/#{action.entry_id}" -%>
	<%- when "delete" -%>
		deleted the <%= "#{action.entry_type action.entry_name}" -%>
	<%- end -%>
<%- when "comments" -%>
	<%- case action.action -%>
	<%- when "create" -%>
		<%- case action.parent_type -%>
		<%- when "Event" -%>
			posted a comment on event
			#<%= link_to action.parent_id, "/console/events/#{action.parent_id}" -%>
			(<%= action.parent_name -%>) reading <div><%== sanitize action.entry_body -%></div>
		<%- when "Discussion" -%>
			posted a comment on in a the disccusion
			<%= link_to action.parent_name, "/console/discussions/#{action.parent_id}" -%>
			reading <div><%== sanitize action.entry_body -%></div>
		<%- end -%>
	<%- when "delete" -%>
		<%- case action.parent_type -%>
		<%- when "Event" -%>
			deleted a comment on event
			#<%= link_to action.parent_id, "/console/events/#{action.parent_id}" -%>
			(<%= action.parent_name -%>) reading <div><%== sanitize action.entry_body -%></div>
		<%- when "Discussion" -%>
			deleted a comment on in a the disccusion
			<%= link_to action.parent_name, "/console/discussions/#{action.parent_id}" -%>
			reading <div><%== sanitize action.entry_body -%></div>
		<%- end -%>
	<%- end -%>
<%- end -%>

<%-
	# vim: ts=4 sts=4 sw=0 noexpandtab
-%>
