<%= form_with url: feedback_general_path, method: :post do |f| -%>
	<div class="container">
		<div class="row">
			<%= f.label :subject, "Message subject",
				class: 'col-md-2 col-sm-12' -%>
			<%= f.text_field :subject, class: 'col-md-5 col-sm-12' -%>
		</div>
		<div class="row">
			<%= f.label :body, "Your message", class: 'col-md-2 col-sm-12' -%>
			<%= f.text_area :body, rows: 15, class: 'col-md-5 col-sm-12' -%>
		</div>
		<div class="row">
			<%= f.submit "Send", class: 'col-md-5 offset-md-2 col-sm-12' -%>
		</div>
	</div>
<%- end -%>

<%
	# vim: ts=4 sts=4 sw=0 noexpandtab
%>
