<h2>Software Bugs</h2>
<p>Please send bug reports to the <%= link_to "Vicinitude", "https://gitlab.com/RyanMcCoskrie/vicinitude" -%>
 project, the software that powers <%= Rails.configuration.vicinitude[:site_name] -%>.</p>

<h2>Administration</h2>
<ul>
	<li><%= link_to "General Feedback", feedback_general_path -%></li>
	<li><%= link_to "Missing Location", feedback_missing_location_path -%></li>
</ul>

<%
	# vim: ts=4 sts=4 sw=0 noexpandtab
%>
