<%= form_with url: feedback_missing_location_path, method: :post do |f| -%>
	<div class="container">
		<div class="row">
			<%= f.label :name, "Location name:",
				class: 'col-md-2 col-sm-12' -%>
			<%= f.text_field :name, class: 'col-md-5 col-sm-12' -%>
		</div>
		<div class="row">
			<%= f.label :body, "Optional message:",
				class: 'col-md-2 col-sm-12' -%>
			<%= f.text_area :body, rows: 5, class: 'col-md-5 col-sm-12' -%>
		</div>
		<div class="row">
			<%= f.submit "Send", class: 'col-md-5 offset-md-2 col-sm-12' -%>
		</div>
	</div>
<%- end -%>

<%
	# vim: ts=4 sts=4 sw=0 noexpandtab
%>
