<%- if @location.has_parent? -%>
<h3>Located in:</h3>
<p>
	<%= raw @location.breadcrumbs
		.map{|crumb| link_to crumb, location_path(crumb)}
		.join " &dash;&gt; " -%>
</p>
<%- end -%>

<div id="map"></div>
<script type="module">
	import {useMap, initMap, makeMarker} from "<%= javascript_path "application.js" =%>";

	var src = "<%== @map_source.url -%>";
	var attr = "<%== @map_source.attribution -%>";
	var isVector = <%= @map_source.is_vector -%>;
	var lat = <%= @location.lat -%>;
	var lng = <%= @location.lng -%>;
	useMap(function(){
		initMap("map", src, attr, isVector, lat, lng, <%= @zoom -%>);

		<%- @location.children.each do |child| -%>
			lat = <%= child.lat -%>;
			lng = <%= child.lng -%>;
			makeMarker(lat, lng, `<%= link_to child.name, location_path(child.name), class: :marker_head -%>`);
		<%- end -%>
	});
</script>

<%- if @location.address.blank? == false -%>
	<h3>Address:</h3>
	<pre><%= @location.address %></pre>
<%- end -%>

<h3>Lattitude & Longitude:</h3>
<p>
	<%= @location.lat -%>, <%= @location.lng -%>
</p>

<p><%= @location.descr %></p>

<h2>Upcoming events</h2>
<p>
<%- if current_user.subscriptions.find_by(subscribable: @location) -%>
		<%= link_to "Unsubscribe", location_unsubscribe_path(@location.name) -%>
		to upcoming events in this location.
	<%- else -%>
		<%= link_to "Subscribe", location_subscribe_path(@location.name) -%>
		to upcoming events in this location.
	<%- end -%>
</p>

<p>
	<%= link_to "Announce an event here", new_event_path("location": @location.name) -%>
</p>

<p>
	<ul><%- @events.each do |event| -%>
		<li><%= link_to event.name, event -%></li>
	<%- end -%></ul>
</p>

<h2>Organisations</h2>
<p>
	<ul><%- @organisations.each do |org| -%>
		<li><%= link_to org.name, organisation_path(org.name) -%></li>
	<%- end -%></ul>
</p>

<%-
	# vim: ts=4 sts=4 sw=0 noexpandtab
-%>
