<%- if flash.key? :success -%>
	<div id="flash-msg-success" role="alert" class="row alert alert-success alert-dismissible fade show">
		<strong><%= flash[:success] -%></strong>
		<button type="button" class="btn-close col-1"
							  data-bs-dismiss="alert"
							  aria-label="Close"></button>
	</div>
<%- end -%>

<%- if flash.key? :info -%>
	<div id="flash-msg-info" role="alert" class="row alert alert-info alert-dismissible fade show">
		<strong><%= flash[:info] -%></strong>
		<button type="button" class="btn-close col-1"
							  data-bs-dismiss="alert"
							  aria-label="Close"></button>
	</div>
<%- end -%>

<%- if flash.key? :error -%>
	<div id="flash-msg-error" role="alert" class="row alert alert-danger alert-dismissible fade show">
		<strong><%= flash[:error] -%></strong>
		<button type="button" class="btn-close col-1"
							  data-bs-dismiss="alert"
							  aria-label="Close"></button>
	</div>
<%- end -%>

<%
	# vim: ts=4 sts=4 sw=0 noexpandtab
%>
