<div class="comment col-md-7 col-sm-12">
	<div class="comment_header">
		<%= comment.user.real_name -%> (<%= comment.user.user_name -%>)
		<%= comment.time.localtime.strftime('%F %R') -%></br>
	</div>
	<div>
		<%== sanitize comment.body -%>
	</div>
	<% if comment.can_delete?(current_user) -%>
		<hr />
		<%= button_to "Delete", delete_path, method: :delete -%>
	<% end %>
</div>

<%-
	# vim: ts=4 sts=4 sw=0 noexpandtab
-%>
