<div id="user-menu" class="col-1 dropdown">
	<button id="user-menu-btn" class="btn btn-secondary dropdown-toggle"
			data-bs-toggle="dropdown" href="#">
		Menu
	</button>
	<ul class="dropdown-menu bg-secondary" aria-labelledby="user-menu-btn">
		<%- active = is_active_path?(profile_path) -%>
		<li><%= link_to "Profile", profile_path, class: "#{active} text-white" -%></li>
		<%- if current_user.admin? -%>
			<li><%= link_to "Admin Console", console_root_path, class: "text-white" -%></li>
		<%- end -%>
		<%- active = is_active_path?(feedback_path) -%>
		<li><%= link_to "Feedback", feedback_path, class: "#{active} text-white" -%></li>
		<li><%= link_to "Log Out", logout_path, class: "text-white" -%></li>
	</ul>
</div>

<%
	# vim: ts=4 sts=4 sw=0 noexpandtab
%>
