<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title><%= @subtitle %> | <%= Rails.configuration.vicinitude[:site_name] -%></title>
	<link rel="apple-touch-icon" href="/favicon.png">
	<link rel="icon" href="/favicon.png">
	<link rel="icon" type="image/x-icon" href="/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<%= stylesheet_link_tag "application", "main" -%>
	<%= javascript_include_tag "bootstrap", "application", type: :module -%>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>
</head>

<body>
	<div class="container-fluid">
		<%- if Rails.configuration.vicinitude.has_key? :notice -%>
			<div id="notice-area" class="row sticky-top">
				<%= raw Rails.configuration.vicinitude[:notice] -%>
			</div>
		<%- end -%>

		<nav id="main-nav" class="row">
			<div class="col-xl-1 col-md-12">
				<%= image_tag 'logo_32px.png', id: "nav-logo" -%>
			</div>
			<div class="col-xl-4 col-sm-10 col-xs-12">
				<div class="btn-group btn-group-me flex-wrap" role="group"
						aria-label="Navigation buttons">
					<%- active = is_active_path?(home_path) -%>
					<%= link_to "Home", home_path, class: "btn btn-primary #{active}" -%>
					<%- active = is_active_path?(locations_path) -%>
					<%= link_to "Locations", locations_path, class: "btn btn-primary #{active}" -%>
					<%- active = is_active_path?(organisations_path) -%>
					<%= link_to "Organisations", organisations_path, class: "btn btn-primary #{active}" -%>
					<%- active = is_active_path?(events_path) -%>
					<%= link_to "Events", events_path, class: "btn btn-primary #{active}" -%>
				</div>
			</div>
			<div class="col-xl-1 offset-xl-6 col-sm-2 offset-sm-0 col-xs-12">
				<%= render partial: 'layouts/menu' -%>
			</div>
		</nav>

		<%= render partial: 'layouts/alerts' %>

		<div id="sub-title-area" class="row">
			<h2><%= @subtitle -%></h2>
		</div>

		<div id="content-area" class="row">
			<main class="col-12">
				<%= yield -%>
			</main>
		</div>

		<%- if Rails.configuration.vicinitude.has_key? :footer_message -%>
			<footer id="footer-area" class="row sticky-bottom">
				<div class="col-12">
					<%= raw Rails.configuration.vicinitude[:footer_message] -%>
				</div>
			</footer>
		<%- end -%>
	</div>
</body>
</html>

<%
	# vim: ts=4 sts=4 sw=0 noexpandtab
%>
