<!doctype html>
<html>
<head>
	<title><%= @subtitle -%> | Console | Vicinitude</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<%= stylesheet_link_tag "application", "console" -%>
	<%= javascript_include_tag "bootstrap", "application", type: :module -%>
	<%= csrf_meta_tags -%>
	<%= csp_meta_tag -%>
</head>

<body>
	<div id="navbar">
		<div id="navbar-left">
			<%= link_to "Console Home", console_root_path -%>
			<%= link_to "Configuration", console_config_path -%>
			<%= link_to "Users", console_users_path -%>
			<%= link_to "Locations", console_locations_path -%>
			<%= link_to "Organisations", console_organisations_path -%>
			<%= link_to "Events", console_events_path -%>
			<%= link_to "Logs", console_logs_path(hours: 24) -%>
			<%= link_to "Announcement", console_announcement_path -%>
		</div>

		<div id="navbar-right" class="col-1 offset-4 dropdown">
			<button id="navbar-right-btn"
					class="btn btn-secondary dropdown-toggle"
					data-bs-toggle="dropdown" href="#">
				Menu
			</button>
			<ul class="dropdown-menu bg-secondary" aria-labelledby="navbar-right-btn">
				<li>
					<%= link_to "Return to Vicinitude", root_path, class: "text-white" -%>
				</li>
				<li>
					<%= link_to "Log Out", logout_path, class: "text-white" -%>
				</li>
			</ul>
		</div>
	</div>

	<header>
		<h1>Vicinitude&nbsp;Console</h1>
		<h2><%= @subtitle -%></h2>
	</header>

	<div id="alert-area">
		<%- flash.each do |key, value| -%>
			<div class="alert alert-<%= key -%>" role="alert">
				<%= flash[key] -%>
			</div>
		<%- end -%>
	</div>

	<div class="main">
		<%= yield -%>
	</div>
</body>
</html>

<%
	# vim: ts=4 sts=4 sw=0 noexpandtab
%>
