<!doctype html>
<html>
<head>
	<title><%= @subtitle %> | Vicinitude</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<%= csrf_meta_tags -%>
	<%= stylesheet_link_tag "application", "main" -%>
	<%= javascript_include_tag "bootstrap", "application", type: :module -%>
</head>
<body>
	<div class="container-fluid">
		<%- if Rails.configuration.vicinitude.has_key? :notice -%>
			<div id="notice-area" class="row sticky-top">
				<%= raw Rails.configuration.vicinitude[:notice] -%>
			</div>
		<%- end -%>

		<nav id="main-nav" class="row">
			<div class="col-xl-1 col-lg-12">
				<%= image_tag 'logo_32px.png', class: "nav-logo" -%>
			</div>
			<div class="col-xl-3 col-md-3">
				<div class="btn-group btn-group-me flex-wrap" role="group"
						aria-label="Navigation buttons">
					<%- active = is_active_path?(root_path) -%>
					<%= link_to "Home", root_path,
						class: "btn btn-primary #{active}" -%>
					<%- active = is_active_path?(about_path) -%>
					<%= link_to "About", about_path,
						class: "btn btn-primary #{active}" -%>
					<%- active = is_active_path?(contact_path) -%>
					<%= link_to "Contact", contact_path,
						class: "btn btn-primary #{active}" -%>
				</div>
			</div>

			<div class="col-xl-2 col-md-2 offset-lg-6 offset-md-0">
				<div class="btn-group btn-group-me flex-wrap" role="group"
						aria-label="Navigation buttons">
					<%- active = is_active_path?(login_path) -%>
					<%= link_to "Log In", login_path,
						class: "btn btn-secondary #{active}" -%>
					<%= link_to "Sign Up", signup_path,
						class: "btn btn-secondary #{active}" -%>
				</div>
			</div>
		</nav>

		<div id="title-area" class="row">
			<h1><%= Rails.configuration.vicinitude[:site_name] -%></h1>
		</div>
		<div id="subtitle-area" class="row">
			<h2><%= @subtitle %></h2>
		</div>

		<%= render partial: 'layouts/alerts' %>

		<main class="row">
			<div class="container-fluid">
				<%= yield -%>
			</div>
		</main>
	</div>
</body>
</html>

<%
	  # vim: ts=4 sts=4 sw=0 noexpandtab
%>
