<!doctype html>
<html>
<head>
	<title><%= @subtitle %> | Vicinitude</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<%= csrf_meta_tags -%>
	<%= stylesheet_link_tag "application", "main" -%>
	<%= javascript_include_tag "bootstrap", "application", type: :module -%>
</head>
<body>
	<div class="container-fluid">
		<%- if Rails.configuration.vicinitude.has_key? :notice -%>
			<div id="notice-area" class="row sticky-top">
				<%= raw Rails.configuration.vicinitude[:notice] -%>
			</div>
		<%- end -%>

		<nav id="main-nav" class="row">
			<div class="col-lg-1 col-md-12">
				<%= image_tag 'logo_32px.png', class: "nav-logo" -%>
			</div>
			<div class="col-xl-4 col-sm-10 col-xs-12">
				<div class="btn-group btn-group-me flex-wrap" role="group"
						aria-label="Navigation buttons">
					<%= link_to "Home", root_path, class: "btn btn-primary" -%>
					<%= link_to "About", about_path, class: "btn btn-primary" -%>
					<%= link_to "Contact", contact_path, class: "btn btn-primary" -%>
				</div>
			</div>
		</nav>

		<div id="title-area" class="row">
			<h1><%= Rails.configuration.vicinitude[:site_name] -%></h1>
		</div>
		<div id="subtitle-area" class="row">
			<h2><%= @subtitle %></h2>
		</div>

		<%= render partial: 'layouts/alerts' %>
	</div>
</body>
</html>

<%
	  # vim: ts=4 sts=4 sw=0 noexpandtab
%>
